.address-form-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%; 
    margin: auto;
    margin-top: 5%;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color:  rgb(241, 231, 231);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-address input {
    margin: 7px;
    width: 100%; 
  }
  
  .address-button {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .remove {
    margin-left: 500px; 
  }
  
  a {
    margin-top: 7px;
    margin-bottom: 20px;
    color: #10e0e7;
  }
  
  @media screen and (min-width: 768px) {
    .address-form-container {
      width: 60%; 
    }
  }
  
  @media screen and (max-width: 576px) {
    .address-form-container {
      width: 90%; 
    }
  }
  