.user-form-container {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 7%;
}

.form-slide {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 10px;
}

.form-group input[name="firstName"],
.form-group input[name="lastName"],
.form-group input[name="email"],
.form-group input[name="phone"] {
  width: 600px;
  margin-right: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 2px;
}

.input-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.error {
  border: 1px solid red;
}

.input-group select {
  width: 25%;
  height: 35px;
  padding-top: 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.dob-label {
  margin-left: -440px;
  margin-bottom: 10px;
}

.dob-fields {
  display: flex;
  width: 600px;
}

.dob-container {
  margin-top: 10px;
  width: 600px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-top-width: 0.1px;
  position: relative;
}

.dob-text {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: 16px;
  margin-top: -13px;
  width: 110px;
  text-align: center;
  background-color: #fff;
}

button {
  padding: 10px 50px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.btn-group {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .form-group input[name="firstName"],
  .form-group input[name="lastName"],
  .form-group input[name="email"],
  .form-group input[name="phone"],
  .input-group select {
    width: 100%;
    max-width: none;
  }

  .input-group select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form-group input,
  input {
    width: 100%;
    max-width: none;
  }

  .dob-container {
    max-width: none;
  }
}
